.logo{
	margin-top:10px;
	height: 100px;
	width: 250px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	border-color: black;
	 border-style: solid;
	  border-radius: 20px;
    border-width: 2px;
	//background-color:white;
	//background-color:#f4f8fb;
	padding: 0px;
	box-shadow: 10px 10px 7px #224167 ;
	background-color:#dce6f3; //beige
}
div#bar.row{
	background-color:#4f84c4; //pink
	border-bottom: 1.5px solid;
	border-color: black;
	height:120px;
	width:100%;
	margin: 0;
	//height=50px;
	//background-color:#fff2e6; //beige

}
head div{
	border-bottom: 1px solid;
	border-color:black;
}
#map {
 height: 280px;
width:50%; 
border-style: solid;
border-width: 3px;
}


#body{
    background-color:#dce6f3 ;
    width:100%;
	overflow:auto;
}

canvas{
   // background-color:white; //beige

}

.beblock{
display:block;
}

button{
  background-color:#4f84c4;
  border-radius: 2px;
  border-style: solid;
  border-width: 1px;
  border-color:black;
}

