.logo{
	margin-top:10px;
	height: 100px;
	width: 250px;
	display:block;
	margin-left:auto;
	margin-right:auto;
	/*border-color: black;
	 border-style: solid;
	  border-radius: 50px;
    border-width: 2px;
    box-shadow: 10px 10px 7px #224167 ;
      background-color:seashell; //beige*/

    /*
	//background-color:white;
	//background-color:#f4f8fb;
	//
	*/
	padding: 0px;


	/*background-image: radial-gradient(closest-corner at 60% 55%, seashell,seashell, lightblue);*/

}
div#bar.row{
/*background-color: #4f84c4; //pink */
	/*border-bottom: 1.5px solid;*/
	border-color: black;
	height:120px;
	width:100%;
	margin: 0;
	/*//height=50px;
	//background-color:#fff2e6; //beige*/
    background-image: linear-gradient(to right,#4f84c4,seashell, #4f84c4);

}
/*THIS DOES NOT SELECT THE FUCKIN THING*/
button#load.col-sm-1{
	margin-top:0px;
}

head div{
	border-bottom: 1px solid;
	border-color:black;
}
#map {
 height: 280px;
width:50%; 
border-style: solid;
border-width: 3px;
}

/*THIS DOES NOT SELECT THE FUCKIN THING*/
caption.col-sm-6{
color:black;
}

#body{
    background-color:#4f84c4;

    width: 100%;
	/*overflow:auto; */
	min-height: 100%;
	margin: 0;
	background: url(panda.png)no-repeat center bottom, url(k.png)repeat;
	background-attachment:fixed;
    background-size: 600px 200px
}
html,body{
    height:100%;
   	min-height: 100%;
	margin: 0;
}



.beblock{
display:block;
}

#load{
	font-style:bold;
	font-size:20px;
} 

.col-sm-3{
	font-size:20px;
	color: darkblue;
	font-weight: bold;
	font-family: "Lobster", serif;
	
	
}


button{
  display: inline-block;
  padding: 10px 15px;
  font-size: 24px;
 
  cursor: pointer;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #3c7bc9 ;
  background-color: #558dd1 ;
  border: none;
  border-radius: 10px;
  box-shadow: 0 5px #999;
}
button:hover {background-color: #2a5c9a }

button:active {
 
  background-color: #3c7bc9 ;
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}
p.col-sm-6{
	
	text-align:center;
	
}
div.col-sm-6{
	font-size:20px;
	
}
#cal{
	
font-size:24px;
	color: darkblue;
	font-weight: bold;
	font-family: "Lobster", serif;
}
#cal,#weight,#Text{

	margin-left:150px;
}

table, tr, td {
    border: 1px solid black;
    ,border-collapse: collapse;
    background-color: seashell;
}
table{
     width:80%;
     height:80%;
     position:center;
     padding:20px;

}
tr, td {
    padding: 5px;
    text-align: left;
}

